<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="libs/angular.min.js"></script>
  <script src="libs/adminApp.js"></script>
</head>
<body ng-controller="adminController">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout.html">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" ng-click="view='dashboard'">Dashboard</a>
          <a href="#" class="list-group-item list-group-item-action" ng-click="view='bookings'">Manage Bookings</a>
          <a href="#" class="list-group-item list-group-item-action" ng-click="view='users'">Manage Users</a>
          <a href="#" class="list-group-item list-group-item-action" ng-click="view='flights'">Manage Flights</a>
        </div>
      </div>
      <div class="col-md-9">
        <div ng-include="getView()"></div>
      </div>
    </div>
  </div>
</body>
</html>
